

<ion-content [fullscreen]="true">


<ion-card style="height: 400px;" class="body">

  <ion-header>

  <ion-searchbar [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()"></ion-searchbar>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label>Document Type</ion-label>
        <ion-select [(ngModel)]="selectedNewFilter" (ionChange)="applyFilters()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option value="New">New</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>
  
    <ion-col size="6">
      <ion-item>
        <ion-label>Enrollment Status</ion-label>
        <ion-select [(ngModel)]="selectedStatusFilter" (ionChange)="applyFilters()">
          <ion-select-option value="">All</ion-select-option>
          <ion-select-option value="Currently Enrolled">Enrolled</ion-select-option>
          <ion-select-option value="Alumni">Alumni</ion-select-option>
          <!-- Add options for each strand -->
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-header>

  <ion-content>

        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let request of requests">
              <ion-card (click)="openRequest(request)">
                <ion-card-content>
                  <ion-label style="text-align: left !important;" class="label-container">
                    <ion-label style="margin-right:0% !important; text-align: left !important; color: black;"> {{ request.document_type }}</ion-label><br>
                    <ion-label style="text-align: left !important;">From: {{ request.lrn }}</ion-label><br>
                    <ion-label style="text-align: left !important;">Status: {{ request.status }}</ion-label><br>
                    <ion-label style="text-align: left !important;">Request Date: {{ request.request_date }}</ion-label>
                    <ion-label style="text-align: left !important;">Tracking ID: {{ request.req_id }}</ion-label>
                    <ion-label style="text-align: right; position: absolute; top: 10px; right: 10px; font-weight: bold; font-size:medium; color:green">
                      {{ request.doc_status }}
                    </ion-label>
                
                    <!-- Progress Bar with Icon Labels and Text Labels -->
                    <ion-progress-bar style="margin-bottom: 5px;" class="green-progress-bar" value="{{ calculateProgress(request.status) / 100 }}"></ion-progress-bar>
    
                    <!-- Custom Icon and Text Labels with Spacing -->
                    <ion-label [style.color]="getLabelColor(request.status, 'Pending', 15)" class="custom-icon-label" style="margin-left: 70px;">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
                      <ion-label [style.color]="getLabelColor(request.status, 'Pending', 15)" style="margin-right: 30px; margin-left: 0% !important">Pending</ion-label>
                    </ion-label>
                    <ion-label [style.color]="getLabelColor(request.status, 'Accepted at Registrar', 30)" class="custom-icon-label">
                      <ion-icon name="business"></ion-icon>
                      <ion-label [style.color]="getLabelColor(request.status, 'Accepted at Registrar', 30)" style="margin-right: 30px;">Registrar</ion-label>
                    </ion-label>
                    <ion-label [style.color]="getLabelColor(request.status,'Forwarded to Principal’s Office', 45)" class="custom-icon-label">
                      <ion-icon name="arrow-forward"></ion-icon>
                      <ion-label [style.color]="getLabelColor(request.status, 'Forwarded to Principal’s Office', 45)" style="margin-right: 30px;">Forwarded</ion-label>
                    </ion-label>
                    <ion-label [style.color]="getLabelColor(request.status,  'Accepted at Principal’s Office', 60)" class="custom-icon-label">
                      <ion-icon name="business"></ion-icon>
                      <ion-label [style.color]="getLabelColor(request.status, 'Accepted at Principal’s Office', 60)" style="margin-right: 30px;">Principal</ion-label>
                    </ion-label>
                    <ion-label [style.color]="getLabelColor(request.status, 'Ready for Pickup', 100)" class="custom-icon-label">
                      <ion-icon name="checkmark-done-circle"></ion-icon>
                      <ion-label [style.color]="getLabelColor(request.status, 'Ready for Pickup', 100)" style="margin-right: 30px;">Ready for Pickup</ion-label>
                    </ion-label>
                  </ion-label>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>

  </ion-card>

  <ion-button style="font-family: 'Roboto', sans-serif; margin-top:20px !important; width:50%; margin:auto;--background: #9b2226;" expand="block" (click)="closeModal()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Return
  </ion-button>

</ion-content>
