@media screen and (min-width: 768px) {
  /* Custom styles for medium-sized screens and larger */
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Optional: Add padding as needed */
}

ion-img{
  position: static;
  float: right !important;
  display: flex;
  max-width: 12%;
  max-height: auto;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.header-content {
  display: flex;
  align-items: center;
}

ion-header{
  background-image: url('/assets/3.png');
  background-size: cover;
  background-color: #9b2226;
}


ion-footer{
  position:fixed;
  bottom: 0;
  text-align: center;
  --background: #9b2226;
}

.scrollable-container {
  height: 250px; /* Adjust the height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
}


ion-tab-button {
  background-color: #4f000b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

ion-tab-bar{
  background-color:#9b2226;
}

ion-tab-button ion-icon {
  font-size: 24px;
}

ion-tab-button.ion-selected {
  color: #333;
}

ion-img{
    position: static;
    float: right !important;

    max-width: 13%;
    max-height: auto;
    padding-right: 15px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

ion-header{
  background-color: #9b2226;
}

p {
  margin: 0; /* Remove default margin for the paragraph */
  float: left;
  font-family: baskerville;
  font-size: 130%;
  color: white;
  text-align: left;
  margin-top: 15px;
}


ion-item{
  text-align: center;
}

ion-header{
  text-align: center;
  position: sticky;
}

ion-card.email {
  width: 500px;
  height: 405px;
  float: right;
  margin-top: 5px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
  ion-card.email {
    width: 94%; /* Make it full width */
    height: auto; /* Allow the height to adjust based on content */
    float: none; /* Remove the float property */
  }
}

ion-button{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

ion-card.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --background: url('/assets/border.png') no-repeat center center fixed;
}

ion-content {
  //--background: #ffe5ec;
  background-size: cover;
  height: 200px;
}

ion-item{
  white-space: normal; /* Allows text to wrap to the next line */

  word-wrap: break-word; /* Breaks words that exceed the container width */

}

.label-container {
  width: 25%; /* Adjust the width as per your requirement */
  margin-right: 10px; /* Adjust the spacing between containers */
}

.label-container2 {
  width: 25%; /* Adjust the width as per your requirement */
  margin-right: 0px !important; /* Adjust the spacing between containers */
}
ion-label {
  white-space: normal; /* Allows text to wrap to the next line */
  word-wrap: break-word; /* Breaks words that exceed the container width */
}
.wrapped-text-select {
  white-space: normal;
  word-wrap: break-word;
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the spacing between buttons as needed */
}

/* Media query for screens with a maximum width of 768px (adjust as needed for mobile view) */
@media (max-width: 768px) {
  /* For mobile view, buttons are stacked vertically */
  .button-container {
    flex-direction: column;
    align-items: flex-start; /* Optional: Adjust alignment if needed */
  }
}

ion-card.email ion-input,
ion-card.email ion-textarea {
  width: 300px; /* Adjust the width as needed */
}

@media (max-width: 768px) {
  .mobile-wider-input {
    width: 50%;
  }
}

ion-card {
  box-sizing: border-box;
}