<ion-header [translucent]="true">
  <p> Leaders Shining <br> Forward to Fullness </p>
  <ion-img src=".\assets\whitelogo.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">admindocu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Student Name</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Document Type</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Status</ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>

  <ion-list class="scrollable-list">
    <ion-item class="table" *ngFor = "let request of requests" (click) = "requestList(requests)">
      <ion-label (click)="openRequest(request)">{{ request.student_name }}</ion-label>
      <ion-label>{{ request.document_type }}</ion-label>
      <ion-label>{{ request.status }}</ion-label>
    </ion-item>
  </ion-list>


  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab1" [disabled]="true">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab2" [disabled]="true">
            <ion-icon name="documents-outline"></ion-icon>
            <ion-label>Documents</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="tab3" (click)="logOut()">
            <ion-icon name="power-outline"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

</ion-content>
