<ion-header [translucent]="true">
  <ion-buttons slot="start" style="color: white; margin-top:10px">
    <ion-button (click)="closeModal()" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button (click)="refreshModalContent()" ><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-buttons>


  <p> ESC Certificate </p> 
</ion-header>

<ion-content [fullscreen]="true" style="height: calc(100vh - 56px); overflow-y: auto;">

<ion-button (click)="showCardOnClick()"style="font-family: 'Roboto', sans-serif; margin-top:5px !important; width:50%; margin:auto;--background: #9b2226;" expand="block">Add Document</ion-button>

<ion-card *ngIf="showCard">
  <ion-input style="font-family: 'Roboto', sans-serif;" type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx"></ion-input>
  <ion-button style="font-family: 'Roboto', sans-serif; margin-top:5px !important; margin-bottom:10px !important; width:50%; margin:auto;--background: #9b2226;" expand="block" (click)="uploadFile()" [disabled]="!selectedFile">Upload</ion-button>
  <div *ngIf="uploadProgress !== null">Uploading... {{ uploadProgress }}%</div>
  <div *ngIf="downloadURL">File Successfully Uploaded!: {{ downloadURL }}</div>
</ion-card>


<ion-searchbar [(ngModel)]="searchText" (ngModelChange)="filterContents()" placeholder="Enter name or title"></ion-searchbar>
<ion-card>
<div class="scrollable-container">
<div class="scrollable-content">
<ion-list>
  <ion-item (click)="presentActionSheet(item)" *ngFor="let item of filteredContents">
    <ion-label style="white-space: normal; font-family: 'Roboto', sans-serif;">{{ item.name }}</ion-label>

  </ion-item>
</ion-list>

</div>
</div>
</ion-card>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">storage</ion-title>
  </ion-toolbar>
</ion-header>


</ion-content>
