ion-toolbar{
    font-family: baskerville;
    --background: #9b2226;
  }

ion-title{
    background-color: #9b2226;
    color:#f4f4f4;
}

ion-back-button{
    color:#f4f4f4;
    font-family: baskerville;
}

ion-button{
    --background: #9b2226;
    font-family: baskerville;

}
ion-content{
    --background: url('/assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
}

ion-card{
    width: 50%;
    margin: auto;
    margin-top: 250px;
}
