ion-toolbar{
    font-family: 'Roboto', sans-serif;
    --background: #9b2226;
  }

ion-title{
    background-color: #9b2226;
    color:#f4f4f4;
}

ion-back-button{
    color:#f4f4f4;
    font-family: 'Roboto', sans-serif;
}

ion-button{
    --background: #9b2226;
    font-family: 'Roboto', sans-serif;

}
ion-content{
    --background: #9b2226;
    background-size: cover;
    height: 200px;
}

ion-card{
    width: 50%;
    margin: auto;
    margin-top: 250px;
}

@media (max-width: 767px) {
    ion-card{
        width: 300px;
        margin: auto;
        margin-top: 250px;
    }

    ion-content{
        --background: #9b2226;
        background-size: cover;
    }
    
  }