ion-toolbar{
    font-family: baskerville;

  }

ion-title{
    background-color: #9b2226;
    color:#f4f4f4;
}

ion-back-button{
    color:#f4f4f4;
    font-family: baskerville;
}

ion-button{
    --background: #9b2226;
    font-family: baskerville;

}
