ion-card{
  align-items: center;
  justify-content: center;
  width: 40% !important;
  top: 16%;
  bottom: 13% !important;
  margin: auto;
  border-radius: 8%;
  height: 450px;
}

h3{
  margin: auto;
}

ion-card-header{
  font-family: 'Roboto', sans-serif;
}

ion-text{
  text-align: center;
}

ion-card-header{
  justify-content: center;
  align-items: center;
  font-style:  helvetica;
}

ion-card-content{
  justify-content: center;
  align-items: center;
  font-style: helvetica;
}

ion-button {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  --background: #9b2226;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  width: 50%;
}


ion-content {
  //--background: #ffe5ec;
  --background: #9b2226;
  background-size: cover;
  height: 200px;
}

@media (max-width: 767px) {
  ion-card{
    width: 80% !important;
    height: 450px !important;
  }

  ion-content {
    //--background: #ffe5ec;
    --background: #9b2226;
    background-size: cover;
  }
}