ion-card{
  align-items: center;
  justify-content: center;
  width: 70% !important;
  top: 50px !important;
  margin: auto;

}

ion-text{
  text-align: center;
}

ion-card-header{
  justify-content: center;
  align-items: center;
  font-style:  helvetica;
}

ion-card-content{
  justify-content: center;
  align-items: center;
  font-style: helvetica;
}

ion-button {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  --background: #9b2226;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}


ion-content {
  --background: #9b2226;
}