*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.grid-container {
  display: flex;
  border: 1px solid #ccc; /* Add a border around the entire box */
  padding: 10px; /* Add padding to create a box around the rows */
  margin: 5px; /* Adjust the spacing between the boxes */
}

.grid-item {
  flex-basis: calc(33.33% - 5px); /* 3 columns with spacing */
  padding: 10px; /* Add padding to create boxes around ion-label */
  box-sizing: border-box; /* Include the border in the box dimensions */
  border: 1px solid #ccc; /* Add a border around each box */
}
ion-header{
  background-color:  #b93e42;
}
.request{
  border: 1px solid rgb(207, 199, 199) !important; /* Set the border width and color */
  border-radius: 10px !important; /* Optional: Add border radius for rounded corners */
}

.inner{
  border: 1px solid rgb(207, 199, 199) !important; /* Set the border width and color */
  border-radius: 10px !important; /* Optional: Add border radius for rounded corners */
}

.label-container {
  display: block;
  height: 200px; /* Set the desired fixed height */
  padding: 10px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for visualization */
}
ion-label {
  font-family: 'Roboto', sans-serif;
}

ion-toolbar{
  --background:  #b93e42;
}

ion-title{
  color: white;
  font-family: 'Roboto', sans-serif;
}

img{
  margin-top: 3%;
  border-radius: 360%;
  border: 3px solid white;
}

ion-button{
  --background:  #b93e42;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: white;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 0px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  width: 150px;

  font-size: 9px;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional: Add padding as needed */
}

.header-content {
  display: flex;
  align-items: center;
}

.delete{
  width: 60px; /* Adjust the width and height as needed */
  height: 60px;
  font-size: 10px; /* Adjust the font size as needed */
}

p {
  margin: 0; /* Remove default margin for the paragraph */
  float: left;
  font-family: baskerville;
  font-size: 130%;
  color: white;
  text-align: left;
  margin-top: 15px;
}


ion-img{
    position: static;
    float: right !important;
    display: flex;
    max-width: 12%;
    max-height: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 10px;
    margin-bottom: 25px;
  }

  .custom-popover {
  position: absolute;
  top: 50%;
  right: 0; /* Adjust as needed */
  transform: translate(0, -50%);
  background-color: white;
  width: 250px; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  border: 1px solid #ccc; /* Optional: Add border for styling */
}


.info {
  --background:  #b93e42;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: #fff;
  width: 20%;
  float: inline-start;
  margin-top: 3%;
  height: 410px;
  margin-left: 40px;
  border-radius: 10px !important;

}

@media (max-width: 767px) {
  .info{
    width:100%;
    height: 310px;
    margin-left: 0% !important;
    margin-top: 0% !important;
  }

  img{
    margin-top: 3%;
    border-radius: 360%;
    border: 3px solid white;
    width: 30%;
  }

  ion-label {
    white-space: normal; /* Allows text to wrap to the next line */
    word-wrap: break-word; /* Breaks words that exceed the container width */
    font-size: 10px;
  }

  ion-button{
    float: left;
    width: 30% !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
  }

  .request{
    width: 100% !important;
    margin-top: 10%;
    margin: auto;
    height: 370px;
    margin-top: 1.5%;
    ion-button{
      width: 90% !important;
      height: 180px !important;
    }
  }
}

.request{
  width: 60%;
  margin: auto;
  height: 430px;
  margin-top: 1.5%;
}

.green-progress-bar {
  --progress-background: green;
}

.events{
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  height: 260px;
}

.pfp{
  margin-bottom: 5%;
}
.scrollable-container {
  height: 330px; /* Adjust the height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  width: 1100px;
}


.scrollable-container2 {
  height: 175px; /* Adjust the height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/panlikod.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-content{
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;

ion-label{
  text-align: center;
}

button{
  margin-bottom: 10px;
}

.event_head{
  --background:  #b93e42;
  color:white;
  height: 42px;
}

ion-searchbar{
  --background:  #b93e42;
  background-size: cover;
  color:white;
}

ion-list{
  align-items: center;
  text-align: center;
}

ion-item{
  white-space: normal; /* Allows text to wrap to the next line */

  word-wrap: break-word; /* Breaks words that exceed the container width */

}
ion-label {
  white-space: normal; /* Allows text to wrap to the next line */
  word-wrap: break-word; /* Breaks words that exceed the container width */
}

}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;

}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.menu-icon{
    width: 25px;
    position: absolute;
    right: 40px; 
    top: 40px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;  
}

  ion-header{
    --background:  #b93e42;
    background-size: cover;
    background-color:  #b93e42;
  }

p{
  float: left;
  font-family: baskerville;
  font-size: 150%;
  color: white;
  text-align: left;
  margin-top: 45px;
  padding-left:30px;
}

  

