
<ion-header [translucent]="true" class="header-container">
  <div class="header-content">
    <p>The Home of Christian Leaders <br> Shining Forward to Fullness</p>
  </div>
  <ion-img src="./assets/whitelogo.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
      
      <ion-card class="info">
        <img (click)="openSettingsModal()" [src]="userProfile?.profilePicture || '/assets/blank.png'" alt="Profile Picture" style="width: 200px; height:200px;">
          <ion-label class="label">      
            <div *ngIf="userData" style="font-family: baskerville; font-size: 20px; bottom: 30px"> {{ userData.displayName }}</div>
            <div *ngIf="userData" style="font-family: baskerville;"> {{ userData.email }}</div>
          </ion-label>

          <br>

          <div style="text-align: center; margin: auto;">
            <ion-button (click)="openApprovalModal()">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              For Approval
              <span style="float: right;" class="notification-count2" *ngIf="notificationCount2 > 0">({{ notificationCount2 }})</span>
            </ion-button>
          </div>

          <div style="text-align: center; margin: auto;">
            <ion-button (click)="openCompletedModal()">
              <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
              Completed Requests
            </ion-button>
          </div>

          <div style="text-align: center; margin: auto;">
            <ion-button (click)="logOut()">
              <ion-icon name="power" slot="start"></ion-icon>
              Log Out
            </ion-button>
          </div>
          
      </ion-card>

     


      <ion-card class="request">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="full" fill="clear" style="padding:10px;width: 100%; height:200px; font-size: 15px;"
                (click)="openRequestsModal()">
                  <ion-icon name="document" size="large"></ion-icon>
                  Requests
                  <span style="float: right;" class="notification-count" *ngIf="notificationCount > 0">({{ notificationCount }})</span>
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="full" fill="clear" style="padding:10px;width: 100%; height:200px; font-size: 15px;">
                  <ion-icon name="cube" size="large"></ion-icon>
                  Storage
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button expand="full" fill="clear" style="padding:10px;width: 100%; height:200px; font-size: 15px;"
                (click)="openCalendarModal()">
                  <ion-icon name="calendar" size="large"></ion-icon>
                  Calendar
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="full" fill="clear" style="padding:10px;width: 100%; height:200px; font-size: 15px;"
                (click)="openAccountsModal()">
                  <ion-icon name="person" size="large"></ion-icon>
                  Accounts
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>



</ion-content>
