<ion-content>

<div class="class">

    <ion-card>
        <div class="button-container">
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="open137Modal()" class="button-text-wrap">Form 137</ion-button>
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openESCModal()" class="button-text-wrap">ESC Certificate</ion-button>
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openGoodMoralModal()" class="button-text-wrap">Certificate of Good Moral</ion-button>
        </div>

        <div class="button-container">
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openCompletionModal()" class="button-text-wrap">Certificate of Completion</ion-button>
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openEnrollmentModal()" class="button-text-wrap">Certificate of Enrollment</ion-button>
          <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openRankingModal()" class="button-text-wrap">Certificate of Ranking</ion-button>

        </div>
        <ion-button style="border-radius: 5%;" expand="full" size="large" (click)="openCEMIModal()" class="button-text-wrap">Certificate of English as Medium of Instruction</ion-button>

      
    </ion-card>

    <ion-button class="back" style="font-family: baskerville; margin-top:30px !important; width:50%; margin:auto;--background: #9b2226;" expand="block" (click)="closeModal()">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Return
    </ion-button>


</div>

</ion-content>