<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/storage-menu"></ion-back-button>
    <ion-button (click)="refreshPage()" ><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-buttons>


  <p> Good Moral </p> 
</ion-header>

<ion-content [fullscreen]="true" style="height: calc(100vh - 56px); overflow-y: auto;">

<ion-card>

<ion-input type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx"></ion-input>
<ion-button color="danger" (click)="uploadFile()" [disabled]="!selectedFile">Upload</ion-button>
<div *ngIf="uploadProgress !== null">Uploading... {{ uploadProgress }}%</div>
<div *ngIf="downloadURL">File Successfully Uploaded! Please Refresh Page: {{ downloadURL }}</div>

</ion-card>

<ion-searchbar [(ngModel)]="searchText" (ngModelChange)="filterContents()" placeholder="Enter name or title"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let item of filteredContents">
    <ion-label>{{ item.name }}</ion-label>
    <ion-button fill="outline" (click)="downloadItem(item)">Download</ion-button>
    <ion-button fill="outline" color="danger" (click)="deleteItem(item)">Delete</ion-button>

  </ion-item>
</ion-list>


<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">storage</ion-title>
  </ion-toolbar>
</ion-header>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="openRegister()">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Manage Students</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [disabled]="true">
          <ion-icon name="documents-outline"></ion-icon>
          <ion-label>Storage</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openDocu()">
          <ion-icon name="documents-outline"></ion-icon>
          <ion-label>Requests</ion-label>
        </ion-tab-button>
    
        <ion-tab-button (click)="logOut()">
          <ion-icon name="power-outline"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

</ion-content>
