<!-- account-request.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Account Request
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Form to submit account request -->
  <ion-card>
    <ion-card-content>
      <ion-label position="floating">Full Name</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="fullName" required></ion-input>
      </ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-label position="floating">LRN</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="lrn" required></ion-input>
      </ion-item>
      <ion-label>Enrollment Date</ion-label>
      <ion-item>
        <ion-input type="date" [(ngModel)]="enrollmentDate" required></ion-input>
      </ion-item>
      <ion-label>Graduation Date (Optional)</ion-label>      <ion-item>
        <ion-input type="date" [(ngModel)]="graduationDate"></ion-input>
      </ion-item>

      <ion-label>Selfie with ID</ion-label>
      <ion-item>
        <input type="file" (change)="handleImageUpload($event)" accept="image/*">
      </ion-item>

      <ion-button expand="full" (click)="submitRequest()">Submit Request</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>