<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">form</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input label="Student Name: " placeholder="Enter full name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea label="Enter Request Details: " placeholder="Enter Important Information"></ion-textarea>
  </ion-item>

  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="logOut()"><ion-icon name="person-circle-outline" ></ion-icon></ion-button>
      <ion-button (click)="toDocuments()"><ion-icon name="documents-outline" ></ion-icon></ion-button>
      <ion-button (click)="logOut()"><ion-icon name="power-outline" id="power"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
