<ion-header [translucent]="true">
  <p> Leaders Shining <br> Forward to Fullness </p>
  <ion-img src=".\assets\whitelogo.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<!--image-->
<div class="image"></div>

  <!--button-->
  <div class="ion-text-center">
    <ion-button (click)="addRequest()">Make Request</ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-button color=#5e070e (click)="logOut()"><ion-icon name="person-circle-outline" ></ion-icon></ion-button>
      <ion-button color=#5e070e (click)="toDocuments()"><ion-icon name="documents-outline" ></ion-icon></ion-button>
      <ion-button color=#5e070e (click)="logOut()"><ion-icon name="power-outline" id="power"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-footer>


</ion-content>
  
