

<ion-content [fullscreen]="true">


  <ion-card class="events" style="border: 3px solid white;">
    <ion-header>
      <ion-toolbar class="event_head">
      <ion-label style="font-family: 'Roboto', sans-serif;">Events</ion-label>
      </ion-toolbar>

    </ion-header>
<div class="scrollable-container2">
  <div class="scrollable-content2">
    <ion-list>
      <ion-item *ngFor="let event of events">
        <ion-card style="width:550px;">
        <ion-label style="font-size: 14px; font-family: 'Roboto', sans-serif; margin-top:20px;">
          <div style="color: black; font-weight:bold">
            {{ event.title }} <br>
          </div>
          
          <div>
            Date: {{ event.startDate }} <br>
          </div>

          <div style="text-align: left; font-size: 14px; margin-top:10px; margin-bottom:10px;  margin-left:20px; color:black">
            {{ event.description }}
          </div>

        </ion-label>
      </ion-card>
      </ion-item>
    </ion-list>
  </div>
</div>
      </ion-card>

      <ion-button style="font-family: 'Roboto', sans-serif; margin-top: 10px; --background: #9b2226;" expand="full" (click)="closeModal()">Close</ion-button>

</ion-content>
