<ion-header [translucent]="true" class="header-container" style="height: 180px;">
  <div class="header-content">
    <p style="font-family: Brush Script MT, Brush Script Std, cursive	;">The Home of Christian Leaders <br> Shining Forward to Fullness</p>
  </div>
  <ion-img src="./assets/whitelogo.png"></ion-img>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="Home()">
    <ion-icon style="color: white;" name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="ion-padding">


    <ion-card style="margin:auto; width:400px; float: left; margin-left:50px; margin-top:10px; height:430px;   border: 1px solid rgb(207, 199, 199) !important; /* Set the border width and color */
    border-radius: 10px !important; /* Optional: Add border radius for rounded corners */ margin-right:30px;
   ">
    <ion-card>

    <ion-item>
      <ion-label position="stacked" style="font-weight:bold">User Name</ion-label>
      <ion-input [(ngModel)]='displayName'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font-weight:bold">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" style="font-weight:bold">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="generatePassword()" fill="clear" color="primary">Generate</ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" style="font-weight:bold">Is Admin?</ion-label>
      <ion-select [(ngModel)]="isAdmin">
        <ion-select-option value="true">Yes</ion-select-option>
        <ion-select-option value="false">No</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item *ngIf="isAdmin === 'false'">
      <ion-label position="stacked" style="font-weight:bold">LRN</ion-label>
      <ion-input [(ngModel)]='lrn'></ion-input>
    </ion-item>

    <ion-item *ngIf="isAdmin === 'false'">
      <ion-label position="stacked" style="font-weight:bold">Student Status</ion-label>
      <ion-select [(ngModel)]="Status">
        <ion-select-option value="Currently Enrolled">Currently Enrolled</ion-select-option>
        <ion-select-option value="Alumni">Alumni</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-button (click)='signup()' style="font-family: 'Roboto', sans-serif; margin-top:10px !important; margin-bottom:10px !important; width:50%; margin:auto;--background: #9b2226;" expand='block'>Signup</ion-button>
    </ion-card>
  </ion-card>

<!--  <ion-card style="width:500px; height:350px;margin:auto">

    <ion-toolbar style="height: 40px;">
      <ion-grid>
        <ion-row>
          <ion-col size="6"> 
            <ion-label style="font-family: 'Roboto', sans-serif; color: white;">Username</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label style="font-family: 'Roboto', sans-serif; color: white;">Email</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>
    
    <div class="scrollable-container">
      <div class="scrollable-content">
        <ion-list class="scrollable-list">
          <ion-item class="table" *ngFor="let user of accounts">
            <ion-label style="font-family: 'Roboto', sans-serif; font-size:small" class="center-label">{{ user.displayName }}</ion-label>
            <ion-label style="font-family: 'Roboto', sans-serif; font-size:small" class="center-label">{{ user.email }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-card>-->

<ion-card style="height: 420px; width: calc(100% - 520px); overflow-y: auto; border-radius: 10px !important;   border: 1px solid rgb(207, 199, 199) !important; /* Set the border width and color */
border-radius: 10px !important; /* Optional: Add border radius for rounded corners */">
  <ion-toolbar>
    <ion-title>Requests</ion-title>
  </ion-toolbar>

  <ion-row>
    <ion-col size="6" *ngFor="let request of accountRequests; let i = index" (click)="presentAlert(request)">
      <ion-card style="height: 300px;   border: 1px solid rgb(207, 199, 199) !important; /* Set the border width and color */
      border-radius: 10px !important; /* Optional: Add border radius for rounded corners */">
        <!-- Your card content here -->
        <ion-card-header>
          <img *ngIf="request.imageUrl" [src]="request.imageUrl" alt="Selfie with ID" style="width: 155px; height:155px; margin:auto;">
        </ion-card-header>
        <ion-card-content style="color: black;">
          Full Name: {{ request.fullName }}<br>
          Email: {{ request.email }}<br>
          LRN: {{ request.lrn }}<br>
          Enrollment Date: {{ request.enrollmentDate }}<br>
          Graduation Date: {{ request.graduationDate || 'Not Applicable' }}<br>
          <!-- Display other details as needed -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-card>


  
  
</ion-content>