ion-toolbar{
    --background: #9b2226;
    text-align: center;
}


ion-title{
    color: white;
    font-family: 'Roboto', sans-serif;
}

ion-button{
    --background: #4f000b;
    font-family: 'Roboto', sans-serif;
}

.create{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

ion-card{
    width: 400px;
}

ion-footer{
    position:fixed;
    bottom: 0;
    text-align: center;
    --background: #9b2226;
  }
  
  ion-tab-button {
    background-color: #4f000b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

ion-tab-bar{
    background-color:#9b2226;
  }
  ion-content {
    //--background: #ffe5ec;
    height: 200px;
  }

  .scrollable-container {
    height: 250px; /* Adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  /* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .left-card {
    float: none !important;
    width: 85% !important; /* Full width on mobile screens */
    margin: auto;
  }

  .left-card,
  .right-card {
    float: none !important;
    width: 85% !important; /* Full width on mobile screens */
    margin: auto;
  }
}

  @media (max-width: 768px) {
    ion-card.email {
      width: 94%; /* Make it full width */
      height: auto; /* Allow the height to adjust based on content */
      float: none; /* Remove the float property */
    }
  }

  @media (max-width: 768px) {
    /* For mobile view, buttons are stacked vertically */
    .button-container {
      flex-direction: column;
      align-items: flex-start; /* Optional: Adjust alignment if needed */
    }
  }

  .center-label {
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;
  }

  @media (max-width: 767px) {
    ion-card{
      width: 90% !important;
      margin-top: 10% !important;
    }
  }
