
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>

<ion-content class="ion-pading">
  <div class="form">

  <div class="create"><ion-label>Create Account</ion-label></div>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]='displayName'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]='password'></ion-input>
    </ion-item>

    <br>
    <ion-item>
      <ion-label position="stacked">Is Admin?</ion-label>
      <ion-select [(ngModel)]='isAdmin'>
        <ion-select-option value="true">Yes</ion-select-option>
        <ion-select-option value="false">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)='signup()' expand='block'>Signup</ion-button>
  </div>

  <ion-card>

    <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>

  <ion-list class="scrollable-list">
    <ion-item class="table" *ngFor = "let user of accounts">
      <ion-label>{{ user.displayName }}</ion-label>
      <ion-label>{{ user.email }}</ion-label>
      <ion-label>{{ user.password }}</ion-label>
    </ion-item>
  </ion-list>

  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button [disabled]="true">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Manage Students</ion-label>
          </ion-tab-button>
      
          <ion-tab-button (click)="openStorage()">
            <ion-icon name="documents-outline"></ion-icon>
            <ion-label>Storage</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="openDocu()">
            <ion-icon name="documents-outline"></ion-icon>
            <ion-label>Requests</ion-label>
          </ion-tab-button>
      
          <ion-tab-button (click)="logOut()">
            <ion-icon name="power-outline"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</ion-content>