<ion-header [translucent]="true">
  <p> Leaders Shining <br> Forward to Fullness </p>
  <div class="image-container">
  <ion-img src=".\assets\whitelogo.png"></ion-img>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
       
        <img src="'/assets/menu.png'" class="menu-icon">
        <img src="/assets/profilepic.png" class="profile-pic">
        <ion-item>
          <ion-label>      
            <div *ngIf="userData"> {{ userData.displayName }}</div>
          </ion-label>   
        </ion-item>

        <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>

        <ion-list class="scrollable-list">
          <ion-item class="table" *ngFor = "let rq of userRequest">
            <ion-label>{{ rq.student_name }}</ion-label>
            <ion-label>{{ rq.document_type }}</ion-label>
            <ion-label>{{ rq.status }}</ion-label>
          </ion-item>
        </ion-list>
        
        

        <ion-footer>
          <ion-toolbar>
            <ion-tabs>
              <ion-tab-bar slot="bottom">
                <ion-tab-button tab="tab1" [disabled]="true">
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <ion-label>Profile</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="tab2" (click)="logIn()">
                  <ion-icon name="documents-outline"></ion-icon>
                  <ion-label>Documents</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="tab3" (click)="logOut()">
                  <ion-icon name="power-outline"></ion-icon>
                  <ion-label>Log Out</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-toolbar>
        </ion-footer>


</ion-content>
