<ion-header [translucent]="true">
  <p> Leaders Shining <br> Forward to Fullness </p>
  <ion-img src=".\assets\whitelogo.png"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
       
        <img src="'/assets/menu.png'" class="menu-icon">
        <img src="/assets/profilepic.png" class="profile-pic">
        <ion-item *ngFor="let account of accounts" (click)="openAccount(account)">
          <ion-label>
            {{ account.student_username }}
          </ion-label>
        </ion-item>
        <p>Student of Sto. Nino Formation and Science School</p>

        <ion-footer>
          <ion-toolbar>
            <ion-tabs>
              <ion-tab-bar slot="bottom">
                <ion-tab-button tab="tab1" [disabled]="true">
                  <ion-icon name="person-circle-outline"></ion-icon>
                  <ion-label>Profile</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="tab2" (click)="logIn()">
                  <ion-icon name="documents-outline"></ion-icon>
                  <ion-label>Documents</ion-label>
                </ion-tab-button>
            
                <ion-tab-button tab="tab3" (click)="logOut()">
                  <ion-icon name="power-outline"></ion-icon>
                  <ion-label>Log Out</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-toolbar>
        </ion-footer>


</ion-content>
