*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional: Add padding as needed */
}

.header-content {
  display: flex;
  align-items: center;
}

.delete{
  width: 60px; /* Adjust the width and height as needed */
  height: 60px;
  border-radius: 50%; 
  font-size: 10px; /* Adjust the font size as needed */
}

p {
  margin: 0; /* Remove default margin for the paragraph */
  float: left;
  font-family: baskerville;
  font-size: 130%;
  color: white;
  text-align: left;
  margin-top: 15px;
}


ion-img{
    position: static;
    float: right !important;
    display: flex;
    max-width: 12%;
    max-height: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 10px;
    margin-bottom: 25px;
  }

.info {
  --background: #4f000b;
  color: #fff;
  height: 50px
}

.request{
  float: left;
  width: 48%;
  left: 30px;
  height: 70%;
  top: 10px;
}

.events{
  justify-content: center;
  align-items: center;
  float: right;
  width: 45%;
  height: 70%;
  right: 30px;
  top: 10px;
}

.scrollable-container {
  height: 250px; /* Adjust the height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  
}

.scrollable-container2 {
  height: 200px; /* Adjust the height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/panlikod.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-content{
  --background: url('/assets/bg.png') no-repeat center center fixed;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;

ion-label{
  text-align: center;
}

.event_head{
  --background: #9b2226;
  color:white;
  height: 42px;
}

ion-searchbar{
  --background: #9b2226;
  background-size: cover;
  color:white;
}

ion-list{
  align-items: center;
  text-align: center;
}

ion-item{
  white-space: normal; /* Allows text to wrap to the next line */

  word-wrap: break-word; /* Breaks words that exceed the container width */

}
ion-label {
  white-space: normal; /* Allows text to wrap to the next line */
  word-wrap: break-word; /* Breaks words that exceed the container width */
}

}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.menu-icon{
    width: 25px;
    position: absolute;
    right: 40px; 
    top: 40px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;  
}

  ion-header{
    background-image: url('/assets/3.png');
    background-size: cover;
    background-color: #9b2226;
  }

p{
  float: left;
  font-family: baskerville;
  font-size: 150%;
  color: white;
  text-align: left;
  margin-top: 45px;
  padding-left:30px;
}

ion-text{
 font-family: baskerville;
}

ion-footer{
    position:fixed;
    bottom: 0;
    text-align: center;
    --background: #9b2226;
  }
  

  ion-tab-button {
    background-color: #4f000b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  ion-tab-bar{
    background-color:#9b2226;
  }
  
  ion-tab-button ion-icon {
    font-size: 24px;
  }
  
  ion-tab-button.ion-selected {
    color: #333;
  }


