<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'Roboto', sans-serif;">{{ request.document_type }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div *ngIf="request">
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Student Name:</ion-label>
    <ion-item>

      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.student_name }}</ion-label>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Contact Number:</ion-label>
    <ion-item>

      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.contact_no }}</ion-label>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Student Status:</ion-label>
    <ion-item>
      
      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.Status }}</ion-label>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Year Level:</ion-label>
    <ion-item>
      
      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.year_level }}</ion-label>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Strand:</ion-label>
    <ion-item>

      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.strand }}</ion-label>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Reason for Request:</ion-label>
    <ion-item>
      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px; height:45px">{{ request.remarks }}</ion-label>
    </ion-item>

    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Remarks from Principal:</ion-label>
    <ion-item>
      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px; height:55px">{{ request.comments }}</ion-label>
    </ion-item>
    
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Remarks:</ion-label>
    <ion-item>
      <ion-textarea style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px; height:55px" [(ngModel)]="request.comment"></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Payment Status (click to update):</ion-label>
      <ion-select style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size: small; margin-right: 15px; margin-left:48.5% !important" [(ngModel)]="request.payment">
        <ion-select-option value="Paid">
          Paid
        </ion-select-option>
        <ion-select-option value="Not Paid">
          Awaiting Payment
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label style="font-family: 'Roboto', sans-serif;" position="stacked">Request Status:</ion-label>
    <ion-item>

      <ion-label style="font-family: 'Roboto', sans-serif; white-space: normal; overflow-wrap: break-word; font-size:small;  margin-right: 15px;">{{ request.status}}</ion-label>
    </ion-item>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="updateStatus('Accepted at the Registrar\'s Office by: ' + userData.displayName)">
          <ion-icon name="checkmark" slot="start"></ion-icon>
          Accept
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="updateStatus('Request forwarded to the principal’s office')">
          <ion-icon name="arrow-forward" slot="start"></ion-icon>
          Forward
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="updateStatus('Ready for Pickup at the Registrar\'s Office')">
          <ion-icon name="hand-left-outline"></ion-icon>

          For Pickup
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="onStatusChange('Completed')">
          <ion-icon name="checkmark-done" slot="start"></ion-icon>
          Complete
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="updateStatus('Rejected')">
          <ion-icon name="close" slot="start"></ion-icon>
          Reject
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button style="font-family: 'Roboto', sans-serif; --background: #9b2226;" expand="block" (click)="closeModal()">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
          Return
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-card>
  
  

</ion-content>