<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Accounts</ion-title>
    <ion-buttons slot="start">

      <ion-button style="color: white;" (click)="closeModal()" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

<ion-card style="width:500px; height:400px;margin:auto; margin-top:20px;">
  <!--<ion-item>
    <ion-label>Enrollment Status</ion-label>
    <ion-select [(ngModel)]="selectedDocumentTypeFilter" (ionChange)="applyFilters()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Curretly Enrolled">Enrolled</ion-select-option>
      <ion-select-option value="Alumni">Alumni</ion-select-option>
    </ion-select>
  </ion-item>-->

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchItems()"></ion-searchbar>
  <ion-item>
  <ion-select [(ngModel)]="selectedStatusFilter" (ionChange)="applyFilters()">
    <ion-select-option value="">All Status</ion-select-option>
    <ion-select-option value="Currently Enrolled">Enrolled</ion-select-option>
    <ion-select-option value="Alumni">Alumni</ion-select-option>
    <!-- Add more options for different status values -->
  </ion-select>
  </ion-item>
  <div class="scrollable-container">
    <div class="scrollable-content">
      <ion-list class="scrollable-list">
        <ng-container *ngFor="let user of filteredAccounts">
          <ion-item class="table" (click)="openEditModal(user.uid)" *ngIf="user.isAdmin === 'false'">
            <img [src]="user.profilePicture || '/assets/blank.png'" alt="Profile Picture" class="profile-picture">
            <ion-label style="font-family: 'Roboto', sans-serif; font-size: small" class="center-label">{{ user.lrn }}</ion-label>
            <ion-label style="font-family: 'Roboto', sans-serif; font-size: small" class="center-label">{{ user.Status }}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
  </div>

</ion-card>
</ion-content>
