ion-datetime{
    float: right;
}
ion-toolbar {
    --background: #f4f4f4;
  }

ion-footer{
    position:fixed;
    bottom: 0;
    text-align: center;
    --background: #9b2226;
  }

  ion-tab-button {
    background-color: #4f000b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  ion-tab-bar{
    background-color:#9b2226;
  }

  ion-button{
    width: 40%;
    text-align: center;
  }

  ion-item {
    white-space: normal;
    word-wrap: break-word;
  }
