
<ion-header>
  <ion-toolbar>
    <ion-title style="color: white; font-family: baskerville; margin-left:10px">Edit Calendar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="add">
    <ion-input style="font-family: baskerville;" [(ngModel)]="selectedEvent.title" placeholder="Event Title"></ion-input>
    <ion-input style="font-family: baskerville;" [(ngModel)]="selectedEvent.startDate" type="date"></ion-input>
    <ion-textarea style="font-family: baskerville; height:100px;" [(ngModel)]="selectedEvent.description" placeholder="Event Description"></ion-textarea>
    <ion-button style="margin: auto; font-family: baskerville; --background: #4f000b; margin-top:10px;margin-bottom: 10px;" expand="full" (click)="addEvent()">Add Event</ion-button>
  </ion-card>

    <ion-card class="events" style="border: 3px solid white;">
      <ion-header style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ion-toolbar class="event_head">
        <ion-label style="font-family: baskerville;">Events (Click to Delete)</ion-label>
        </ion-toolbar>
  
        <ion-toolbar style="height: 40px; color: white;">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label style="font-family: baskerville;">Event</ion-label>
              </ion-col>
              <ion-col>
                <ion-label style="font-family: baskerville;">Date(Y-M-D)</ion-label>
              </ion-col>
              <ion-col>
                <ion-label style="font-family: baskerville;">Details</ion-label>
              </ion-col>
    
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
  
          <div class="scrollable-container2">
          <div class="scrollable-content2">
          <ion-list>
            <ion-item style="font-size: 11.5px;" *ngFor="let event of events" (click)="deleteEvent(event.id)">
            <ion-label style="font-family: baskerville;">{{ event.title }}</ion-label>
            <ion-label style="font-family: baskerville;">{{ event.startDate }}</ion-label>
            <ion-label style="font-family: baskerville;">{{ event.description }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        </div>
        </ion-card>
  
        <ion-button style="font-family: baskerville; margin-top: 10px; --background: #9b2226;" expand="full" (click)="closeModal()">Close</ion-button>
  

  </ion-content>

