ion-img{
    position: static;
    margin-left: 1150px;
    width: 10% !important;
    float: right !important;
  }


  ion-toolbar {
    --background: url('/assets/stonino.jpg') no-repeat;
    
  }
  
ion-content{
  background-color:blue !important;
}

ion-list{
    text-align: center;
    align-items: center;
}

ion-footer{
    position:fixed;
    bottom: 0;
    text-align: center;
}

ion-label{
    align-items: center;
    justify-items: center;
    
}
ion-icon {
    font-size: 32px;
    margin-left: 10%;
    margin-right: 10%;
  }


