
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-img
      src=".\assets\logo.png" style="width:20%"
     ></ion-img>

    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  
  <div class="class">
    <ion-card>

      <ion-searchbar [debounce]="1000" color="danger" (ionInput)="handleInput($event)"></ion-searchbar>

      <ion-list>
        <ion-item *ngFor="let result of results">
          <ion-label>{{ result }}</ion-label>
        </ion-item>
      </ion-list>
    
      
    </ion-card>

    
  </div>

  <ion-footer>
      <ion-icon name="person-circle-outline" ></ion-icon>
      <ion-icon name="documents-outline" ></ion-icon>
      <ion-icon name="power-outline" id="power"></ion-icon>
  </ion-footer>
  </ion-content>
  