ion-img{
    position: static;
    margin-top: 30px;
    float: right !important;
  }

ion-header{
  background-color: #60d394;
}

h1{
  float: left;
  font-family: baskerville;
  font-size: 30px;
  color: red;
  text-align: left;
  margin-top: 35px;
  padding-left: 20px;
}


  /*ion-toolbar {
    --background: url('/assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    
  } */
  
ion-label{
 text-align: center;
}

ion-list{
    text-align: center;
    align-items: center;
}

ion-footer{
    position:fixed;
    bottom: 0;
    text-align: center;
}

ion-label{
    align-items: center;
    justify-items: center;
    
}
ion-icon {
    font-size: 32px;
  }

ion-button{
    margin-left: 8%;
    margin-right: 8%;
}

  ion-content {
    --background: #C32F27;
  }