ion-img{
    position: static;
    float: right !important;

    max-width: 13%;
    max-height: auto;
    padding-right: 15px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

ion-title{
  text-align: center;
  background-color: #4f000b;
  color:#f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: baskerville;
}

ion-header{
  background-color: #9b2226;
}

p{
  float: left;
  font-family: baskerville;
  font-size: 250%;
  color: white;
  text-align: left;
  margin-top: 45px;
  padding-left:30px;
}


  /*ion-toolbar {
    --background: url('/assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    
  } */
  
ion-label{
 text-align: center;
}

ion-list{
    text-align: center;
    align-items: center;
}

ion-label{
  align-items: center;
  justify-items: center;
  
}

ion-footer{
  position:fixed;
  bottom: 0;
  text-align: center;
  --background: #9b2226;
}

ion-toolbar {
  --background: #f4f4f4;
}

ion-tab-button {
  background-color: #4f000b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

ion-tab-bar{
  background-color:#9b2226;
}

ion-tab-button ion-icon {
  font-size: 24px;
}

ion-tab-button.ion-selected {
  color: #333;
}

.title{
  text-align: center;
}

  ion-content {
    //--background: #ffe5ec;
    --background: url('/assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
  }

ion-toolbar{
  --background: #9b2226;
}

ion-searchbar{
  background-color: #4f000b;
  
}

ion-header{
  font-size: 12px;
}

.invisible-input{
  visibility: hidden;
  color: #9b2226;
}

