<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--title-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Form 137</ion-card-title>
    </ion-card-header>
  </ion-card>

<!--image-->
<div class="image"></div>

  <!--button-->
  <div class="ion-text-center">
    <ion-button shape="round" color="success">Confirm</ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-footer>
  
