ion-toolbar{
    text-align: center;
}
ion-title{
  font-family: 'Roboto', sans-serif;
  color:white;
  }

ion-toolbar{
  --background: #9b2226;
}

.form{
  width: 500px !important;
}

ion-card{
    margin: auto;
    margin-top: 20px !important;
    width: 500px;
}